/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/es-ia.autobil.bin
/es-ia.autogen.bin
/es-ia.automorf.bin
/es-ia.autopgen.bin
/es-ia.mode
/es-ia.t1x.bin
/es-ia.t2x.bin
/es-ia.t3x.bin
/install-sh
/missing
/modes
/stamp-h1
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/ap_include.am
/*-*.prob
/.deps
/test/*-output.txt
